<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fncconsumidorfinal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/21231589-9c8d-45df-a9c1-9b501b48637b/resourcegroups/Final/providers/Microsoft.Web/sites/fncConsumidorFinal</ResourceId>
    <UserName>$fncConsumidorFinal</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://fncconsumidorfinal.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>